extends ../layout

block content
        h1.
            #{project.name}

        form(action='/edit/#{project._id}' method='post' name='updateproject' enctype='application/x-www-form-urlencoded')
            div(class="row")
                label(for=name) Name:
                    input#inputName(type='text' value='#{project.name}' name='name' class="form-control" required)
            div(class="row")
                label(for=description) Description:
                    input#inputDescription(type='text' value='#{project.description}' name='description' class="form-control" required)
            div(class="row")
                label(for=price) Price:
                    input#inputPrice(type='number' value='#{project.price}' name='price' class="form-control" required)
            div(class="row")
                label(for=members) Members:
                    input#inputMembers(type='text' value='#{project.members}' name='members' class="form-control" required)
            div(class="row")
                label(for=finishedWorks) Finished Works:
                    input#inputFinishedWorks(type='text' value='#{project.finishedWorks}' name='finishedWorks' class="form-control" required)
            div(class="row")
                label(for=startTime) Start Time:
                    input#inputFinishedWorks(type='date' value='#{project.startTime}' name='startTime' class="form-control" required)
            div(class="row")
                label(for=endTime) End Time:
                    input#inputFinishedWorks(type='date' value='#{project.endTime}' name='endTime' class="form-control" required)
            p
                input(type='hidden' value='PUT' name='_method')
            p
                button#btnSubmit(type='submit' class="btn btn-warning my_btn row").
                    Update