extends ../layout

block content
		h1.
			#{title}

		form#formAddProject(name="addproject" method="post" action="/")
			div(class="row")
				label(for=name) Name:
					input#inputName(type="text" placeholder="Name" name="name" class="form-control" required)
			div(class="row")
				label(for=description) Description:
					input#inputDescription(type="text" placeholder="Description" name="description" class="form-control" required)
			div(class="row")
				label(for=price) Price:
					input#inputPrice(type="number" placeholder="100" name="price" class="form-control" required)
			div(class="row")
				label(for=members) Members:
					input#inputMembers(type="text" placeholder="Members" name="members" class="form-control" required)
			div(class="row")
				label(for=finishedWorks) Finished Works:
					input#inputFinishedWorks(type="text" placeholder="Finished Works" name="finishedWorks" class="form-control" required)
			div(class="row")
				label(for=startTime) Start Time:
					input#inputStartTime(type="date" name="startTime" class="form-control" required)
			div(class="row")
				label(for=endTime) End Time:
					input#inputEndTime(type="date" name="endTime" class="form-control" required)
				p
					button#btnSubmit(type="submit" class="btn btn-warning my_btn") SUBMIT