extends ../layout

div(class="my_show")
block content 
    p Name: #{project.name}
    p Description: #{project.description}
    p Price: #{project.price}
    p Members: #{project.members}
    p FinishedWorks: #{project.finishedWorks}
    p StartTime: #{project.startTime}
    p EndTime: #{project.endTime}