body {
    background-color: lightgray;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

li {
    list-style: none;
    margin: 10px;
    padding: 20px;
}

.profile {
    background-color: rgb(235, 235, 235);
    padding: 10px;
}

.personal_data {
    text-align: left;
}

#profilePicture {
    width: 175px;
    border-radius: 50%;
    float: right;
}