extends ../layout

block content
    div(class="title")
        h2.
            #{title}

        p(class="error") #{error}

        form#formLogin(name="login" method="post" action="/login")
            div(class="form-group row")
                label(for=email) E-mail:
                    input#inputEmail(type="email" placeholder="E-mail" name="email" class="form-control", value=data.email, required)
            div(class="form-group row")
                label(for=password) Password:
                    input#inputPassword(type="password" placeholder="Password" name="password" class="form-control", value=data.password, required)
                p
                    button#btnSubmit(type="submit" class="btn btn-warning row" style="margin-top: 7px") SUBMIT

        form(action='/register' method='get')
            button(type='submit' class="btn btn-secondary row" style="margin-top: -7px;width:97.5%;margin-left:-3.5%;").
                REGISTER