h1 {
  text-align: center;
}

.my_btn {
  width: 100%;
  margin-top: 7px;
}

.my_show {
  width: 100%;
  font-size: large;
  align-content: center;
}

.row {
  width: 100%;
}

.title {
  align-content: center;
  text-align: center;
  margin-left: 25%;
  margin-top: 5%;
  width: 50%;
}

.title_body {
  align-content: center;
  text-align: center;
  margin-left: 13.5%;
  margin-top: 5%;
}

.right_elements {
  align-content: flex-start;
  text-align: start;
  margin-bottom: 7px;
}

.title_manage {
  align-content: center;
  text-align: center;
  margin-left: 15%;
  margin-top: 5%;
  width: 70%;
}