extends ../layout

block content
    div(class="title")
        h1.
            #{title}

        form(action='/projects' method='get')
            button(type='submit' class="btn btn-success").
                Back to all projects

        div(class="title_body")
            #projectList
                table
                    thead
                        th Name
                        th Description
                        th Price
                        th Members
                        th FinishedWorks
                        th StartTime
                        th EndTime
                        th Archived
                        th Details
                    tbody
                        - each project, i in projects
                            tr
                                td=project.name
                                td=project.description
                                td=project.price
                                td=project.members
                                td=project.finishedWorks
                                td=project.startTime
                                td=project.endTime
                                if project.archived
                                    td YES
                                else
                                    td NO
                                td
                                    form(action='/projects/#{project._id}' method='get')
                                        button(type='submit' class="btn btn-info").
                                            Show
