extends ../layout

block content
    div(class="title")
        h1.
            #{project.name}

        form(action='/projects/edit/#{project._id}' method='post' name='updateproject' enctype='application/x-www-form-urlencoded')
            div(class="row")
                label(for=name) Name:
                    input#inputName(type='text' value='#{project.name}' name='name' class="form-control" required)
            div(class="row")
                label(for=description) Description:
                    input#inputDescription(type='text' value='#{project.description}' name='description' class="form-control" required)
            div(class="row")
                label(for=price) Price:
                    input#inputPrice(type='number' value='#{project.price}' name='price' class="form-control" required)
            div(class="row")
                label(for=finishedWorks) Finished Works:
                    input#inputFinishedWorks(type='text' value='#{project.finishedWorks}' name='finishedWorks' class="form-control" required)
            div(class="row")
                label(for=startTime) Start Time:
                    input#inputFinishedWorks(type='date' value='#{project.startTime}' name='startTime' class="form-control" required)
            div(class="row")
                label(for=endTime) End Time:
                    input#inputFinishedWorks(type='date' value='#{project.endTime}' name='endTime' class="form-control" required)
            input#inputArchived(type="checkbox" name="archived" checked=project.archived style="margin-top: 12px;margin-right:5px")
            label(for=archived) Archived
            div(class="form-group row")
                p(style="margin-bottom:-4px;margin-top:15px") Members
                    #members
                        - each user, i in users
                            div(class="form-check" style="margin-right:17px;")
                                input#inputMember(type="checkbox" name="member[]" checked=user.checked style="margin-right:5px;", value=user.username)
                                label(for=member)=user.username
                p
                    input(type='hidden' value='PUT' name='_method')
                p
                    button#btnSubmit(type='submit' class="btn btn-warning my_btn row").
                        Update