extends ../layout

block content
    div(class="title")
        <h1>Projects</h1>

        form(action='/logout' method='get' class="right_elements")
            button(type='submit' class="btn btn-danger").
                Logout

        #projectList
            table#pickle.table.table-hover.table-striped.table-bordered
                thead
                    th Name
                    th Description
                    th Price
                    th Members
                    th FinishedWorks
                    th StartTime
                    th EndTime
                    th Details
                tbody
                    - each project, i in projects
                        tr
                            td=project.name
                            td=project.description
                            td=project.price
                            td=project.members
                            td=project.finishedWorks
                            td=project.startTime
                            td=project.endTime
                            td
                                form(action='/projects/#{project._id}' method='get')
                                    button(type='submit' class="btn btn-warning").
                                        Show

        form(action='/projects/new' method='get')
            button(type='submit' class="btn btn-success my_btn" style=";margin-bottom:7px;").
                Add New Project
        form(action='/projects/archive' method='get')
            button(type='submit' class="btn btn-secondary my_btn" style="margin-bottom:7px;").
                Show Archive
        form(action='/projects/manage' method='get')
            button(type='submit' class="btn btn-warning my_btn" style="margin-bottom:7px;").
                Manage Projects