extends ../layout

block content
    div(class="title_manage")
        h1.
            #{title}

        form(action='/projects' method='get')
            button(type='submit' class="btn btn-success" style="margin-bottom:32px;").
                Back to all projects

        h1 Projects You Participate In

        #projectList
            table#pickle.table.table-hover.table-striped.table-bordered
                thead
                    th Name
                    th Description
                    th Price
                    th Members
                    th FinishedWorks
                    th StartTime
                    th EndTime
                    th Archived
                    th Details
                    th Edit?
                    th Delete?
                tbody
                    - each project, i in leaderProjects
                        tr
                            td=project.name
                            td=project.description
                            td=project.price
                            td=project.members
                            td=project.finishedWorks
                            td=project.startTime
                            td=project.endTime
                            if project.archived
                                td Yes
                            else
                                td No
                            td
                                form(action='/projects/#{project._id}' method='get')
                                    button(type='submit' class="btn btn-info").
                                        Show
                            td
                                form(action='/projects/edit/#{project._id}' method='get' enctype='application/x-www-form-urlencoded')
                                    button(type='submit' class="btn btn-primary").
                                        Edit
                            td
                                form(action='/projects/delete/#{project._id}' method='post' enctype='application/x-www-form-urlencoded')
                                    input(type='hidden' value='DELETE' name='_method')
                                    button(type='submit' class="btn btn-danger").
                                        Delete
                    - each project, i in memberProjects
                        tr
                            td=project.name
                            td=project.description
                            td=project.price
                            td=project.members
                            td=project.finishedWorks
                            td=project.startTime
                            td=project.endTime
                            if project.archived
                                td Yes
                            else
                                td No
                            td
                                form(action='/projects/#{project._id}' method='get')
                                    button(type='submit' class="btn btn-warning").
                                        Show
                            td
                                form(action='/projects/edit_restricted/#{project._id}' method='get' enctype='application/x-www-form-urlencoded')
                                    button(type='submit' class="btn btn-success").
                                        Edit