extends ../layout

block content
	div(class="title")
		h1.
			#{title}

		form#formAddProject(name="addproject" method="post" action="/projects")
			div(class="row")
				label(for=name) Name:
					input#inputName(type="text" placeholder="Name" name="name" class="form-control" required)
			div(class="row")
				label(for=description) Description:
					input#inputDescription(type="text" placeholder="Description" name="description" class="form-control" required)
			div(class="row")
				label(for=price) Price:
					input#inputPrice(type="number" placeholder="0" name="price" class="form-control" required)
			div(class="row")
				label(for=finishedWorks) Finished Works:
					input#inputFinishedWorks(type="text" placeholder="Finished Works" name="finishedWorks" class="form-control" required)
			div(class="row")
				label(for=startTime) Start Time:
					input#inputStartTime(type="date" name="startTime" class="form-control" required)
			div(class="row")
				label(for=endTime) End Time:
					input#inputEndTime(type="date" name="endTime" class="form-control" required)
			input#inputArchived(type="checkbox" name="archived" style="margin-top: 12px;margin-right:5px")
			label(for=archived) Archived
			div(class="form-group row")
				p(style="margin-bottom:-4px;margin-top:15px") Members
					#members
						- each user, i in users
							div(class="form-check" style="margin-right:17px;")
								input#inputMember(type="checkbox" name="member[]" style="margin-right:5px;", value=user.username)
								label(for=member)=user.username
				p
					button#btnSubmit(type="submit" class="btn btn-warning my_btn") SUBMIT