extends ../layout

div
block content 
    div(class="title")
        form(action='/projects' method='get')
            button(type='submit' class="btn btn-success" style="margin-bottom:5%;").
                Back to all projects

        p Name: #{project.name}
        p Description: #{project.description}
        p Price: #{project.price}
        p Members: #{project.members}
        p FinishedWorks: #{project.finishedWorks}
        p StartTime: #{project.startTime}
        p EndTime: #{project.endTime}